@model AreaBox_V0._1.Areas.Admin.Models.UserManagementDto.send.UserManagementIndexDto
@{
    ViewData["Title"] = "Index";
}
<div class="row">
	<div class="col-12">
		<h2>User List : </h2>
	</div>
</div>

<div class="row">
	<div class="col-9">
		<div class="row row-cards">
			<div class="col-12">
				<div class="card">
						<div class="table-responsive table-nowrap">
						<table border="1" class="table table-vcenter card-table table-striped">
							<thead>
								<tr>
									<th>User Name</th>
									<th>Phone Number</th>
									<th>User Gender</th>
									<th>User Email</th>
									<th>State</th>
									<th>View</th>
									<th class="w-1"></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var user in Model.Users)
								{
									<tr>
										<td>@user.UserName</td>
										<td>@user.PhoneNumber</td>
										<td class="text-secondary">
											@user.Gender
										</td>
										<td>@user.Email</td>
										<td>
											<span class="post-state-badge @user.Id">
												@if (user.State == false)
												{
													<span class="badge bg-success me-1"></span> <span>Activated</span>
												}
												else
												{
													<span class="badge bg-danger me-1"></span> <span>Suspended</span>
												}
											</span>
										</td>
										<td>
											<button type="button" class="btn btn-purple w-100" data-bs-toggle="modal" data-bs-target="#userManagementModal" data-id="@user.Id">
												View
											</button>
										</td>
									</tr>
								}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<partial name="_PaginationPartial" model="Model" />
	</div>
	<div class="col-3">
		<form class="card mb-4" asp-action="Index" asp-area="admin" asp-controller="UserManagement" method="get">
				<div class="card-header">
					<h3 class="card-title">Basic form</h3>
				</div>
				<div class="card-body">
					<div class="mb-3">
						<div style="display: inline-block; margin-right: 10px;">
							<div class="form-label">Search By :</div>
						<select class="form-select" name="SearchType" value='@Model.paramss["SearchType"]'>
							<!option value="username" @(Model.paramss["SearchType"] == "username" ? "selected" : "")>User Name</!option>
							<!option  value="email" @(Model.paramss["SearchType"] == "email" ? "selected" : "")>Email</!option>
							<!option value="phonenumber" @(Model.paramss["SearchType"] == "phonenumber" ? "selected" : "")>Phone Number</!option>
							</select>
						</div>
					</div>
					<div class="mb-3">

						<div style="display: inline-block; margin-right: 10px;">
						<div class="form-label">Search :</div>
						<input type="text" class="form-control" name="Search" value='@Model.paramss["Search"]' placeholder="Enter Email Search" />
						</div>
					</div>

				</div>
				<div class="card-footer text-end">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
	</div>

</div>

<div class="modal" id="userManagementModal" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">User Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="loadingPlaceholder" style="display: block;">
					<div class="col-12">
						<div class="card placeholder-glow">
							<div class="ratio ratio-21x9 card-img-top placeholder"></div>
							<div class="card-body">
								<div class="placeholder col-9 mb-3"></div>
								<div class="placeholder placeholder-xs col-10"></div>
								<div class="placeholder placeholder-xs col-11"></div>
								<div class="mt-3">
									<a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-4" aria-hidden="true"></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="actualContent" style="display: none;">
					<img id="userImage" src="" alt="User Image" style="max-width: 100%; height: auto;">
					<div id="userDetails">
					</div>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" id="enableUserSwitch">
						<label class="form-check-label" for="enableUserSwitch">State</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
			</div>
		</div>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
	$(document).ready(function () {
		$('#userManagementModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var userId = button.data('id');
			$('#enableUserSwitch').data('userId', userId);
			$('#loadingPlaceholder').show();
			$('#actualContent').hide();

			$.ajax({
				url: `/AdminApi/GetUserDetails/${userId}`,
				type: 'GET',
				data: { id: userId },
				success: function (data) {
					$('#loadingPlaceholder').hide();
					$('#actualContent').show();

					$('#userImage').attr('src', 'data:image/png;base64,' + data.profilePicture);
					$('#userDetails').html(`
								<p>Name Publisher: ${data.userName}</p>
								<p>Email: ${data.email}</p>
								<p>Bio: ${data.bio}</p>
								<p>Gender: ${data.gender}</p>
								<p>Date: ${data.dob}</p>
							`);


					var enableUserSwitch = $('#enableUserSwitch');
					enableUserSwitch.prop('checked', data.state === false);
					updateSwitchLabel(enableUserSwitch.prop('checked'));
				},
				error: function (error) {
					console.error('Error fetching media details:', error);

					$('#loadingPlaceholder').hide();
				}
			});
		});

		function updateSwitchLabel(isChecked) {
			var label = $('#enableUserSwitch').next('.form-check-label');
			label.text(isChecked ? 'Activated' : 'Suspended');
		}

		$('#enableUserSwitch').on('change', function () {
			updateSwitchLabel($(this).prop('checked'));
		});
	});
</script>

<script>
	function saveChanges() {
		var userId = $('#enableUserSwitch').data('userId');
		var enablePostSwitch = $('#enableUserSwitch');
		var newState = enablePostSwitch.prop('checked') ? 'true' : 'false';

		$.ajax({
			url: `/AdminApi/DisableUser`,
			type: 'POST',
			data: { id: userId, newState },
			success: function (data) {
				updateBadge(userId, enablePostSwitch.prop('checked'));
				$('#userManagementModal').modal('hide');
			},
			error: function (error) {
				console.error('Error updating user state:', error);
			}
		});
	}
	function updateBadge(userId, isChecked) {
		var badge = $('.post-state-badge.' + userId + ' .badge');
		var text = $('.post-state-badge.' + userId + ' span:last-child');

		if (isChecked) {
			badge.removeClass('bg-danger').addClass('bg-success');
			text.text('Activated');
		} else {
			badge.removeClass('bg-success').addClass('bg-danger');
			text.text('Suspended');
		}
	}
</script>