@inject UserManager<ApplicationUser> userManager;
@model List<AreaBox_V0._1.Models.Dto.QuestionPostsDto>

@{
    var currentUserId = (await userManager.GetUserAsync(User))?.Id;
}

@foreach (var post in Model)
{
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="row row-0">
                    <div class="col-4">
                        <img src="@post.User.ProfilePicture" class="rounded">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h3>@post.User.UserName Have a Question</h3>
        
                                </div>
                                <div class="col text-end">
                                    <div class="card-actions">
                                        <div class="dropdown">
                                            <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                                    <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                                    <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                @if (post.UserId != currentUserId)
                                                {
                                                    <a class="dropdown-item"
                                                       style="cursor: pointer;"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#reportQPostModal"
                                                       data-id="@post.Id">
                                                        Report The Post
                                                    </a>

                                                }
                                                <a class="dropdown-item" style="cursor: pointer;">Save Post</a>
                                                @if (post.UserId == currentUserId)
                                                {
                                                    <a class="dropdown-item text-dark hover-text-primary"
                                                       style="cursor: pointer; transition: color 0.3s;"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#editQPostModal"
                                                       data-qpid="@post.Id">
                                                        Edit Post
                                                    </a>
                                                }
                                                @if (post.UserId == currentUserId)
                                                {
                                                    <a class="dropdown-item text-dark hover-text-primary"
                                                       style="cursor: pointer; transition: color 0.3s;"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#deleteQPostModal"
                                                       data-qpid="@post.Id">
                                                        Delete Post
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 markdown">
                                    <h3>Question Title :  @post.Title</h3>
                                    <h4>The Question</h4>
                                    <p>“@post.Description”</p>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">

                            <a class="btn" 
                            data-bs-toggle="modal" 
                            data-title="@post.Title"
                            data-bs-target="#myQuestionPostComment" 
                            data-id="@post.Id"
                            data-description="@post.Description"
                               data-username="@post.User.UserName"
                               data-userimage="@post.User.ProfilePicture">
                                <i class="ti ti-messages " style="font-size:24px"></i>
                                Comment
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
