@model List<AreaBox_V0._1.Models.Dto.MediaPostsDto>

@foreach (var post in Model)
{
<div class="row">
    <div class="col my-4">
            <div class="card" style="width:50%">
            <div class="card-header">
                <div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="avatar"
                                  style="background-image: url(./static/avatars/003m.jpg)"></span>
                        </div>
                        <div class="col">
                            <div class="card-title">@post.User.UserName</div>
                            <div class="card-subtitle">@post.User.Email</div>
                        </div>
                    </div>
                </div>
                <div class="card-actions">
                    <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                            </svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Edit user</a>
                            <a class="dropdown-item" href="#">Change permissions</a>
                            <a class="dropdown-item text-danger" href="#">Delete user</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                    <img src="@post.Image"  alt="" srcset="">
            </div>
            <div class="card-footer text-start">
                @post.ShortDescription
                    <br>
                    <br>
                @post.LongDescription
            </div>
            <div class="card-footer text-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
}