@inject UserManager<ApplicationUser> userManager;
@model List<AreaBox_V0._1.Areas.User.Models.UMediaPostDto.send.UMediaPostOutputDto>
@{
    var currentUserId = (await userManager.GetUserAsync(User))?.Id;

}



@foreach (var post in Model)
{
    <div class="row">
        <div class="col mb-4">
            <div class="card">
                <div class="card-header">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <img src="@post.UserProfilePicture" alt="" class="avatar rounded" style="width: 60px; height:57px">
                            </div>
                            <div class="col">
                                <input type="hidden" value="@post.Id" id="PostId" />
                                <div class="fw-bold">
                                    @post.UserName <span class="text-muted ms-2">•</span> <span class="formattedDate">
                                        @{
                                            var timeDifference = DateTime.Now - post.Date;

                                            if (timeDifference.TotalDays >= 365)
                                            {
                                                @((int)(timeDifference.TotalDays / 365) + " y")
                                            }
                                            else if (timeDifference.TotalDays >= 30)
                                            {
                                                @((int)(timeDifference.TotalDays / 30) + " mon")
                                            }
                                            else if (timeDifference.TotalHours >= 24)
                                            {
                                                @((int)(timeDifference.TotalDays) + " day")
                                            }
                                            else if (timeDifference.TotalHours >= 1)
                                            {
                                                @((int)(timeDifference.TotalHours) + " hr")
                                            }
                                            else if (timeDifference.TotalMinutes >= 1)

                                            {
                                                @((int)(timeDifference.TotalMinutes) + " min")
                                            }
                                            else
                                            {
                                                @((int)(timeDifference.TotalSeconds) + " s")
                                            }

                                        }

                                    </span>
                                </div>
                                <div class="card-subtitle"> @post.CountryName-@post.CityName / @post.CategoryName</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-actions">
                        <div class="dropdown">
                            <a class="btn-action dropdown-toggle" data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                    <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                    <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#reportPostModal" data-id="@post.Id">Report The Post</a>
                                <a class="dropdown-item" style="cursor: pointer;">Save Post</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body p-0 text-center">
                    <img src="@post.Image" alt="" srcset="" class="w-100 rounded">
                </div>
                <div class="card-footer text-start">
                    <div class="accordion-item">
                        <div class="accordion-header" role="tab">

                            <div class="row">
                                <div class="col">
                                    <span class="text-wrap fs-2 text-capitalize"><strong>Description :</strong> @post.ShortDescription</span>
                                </div>
                            </div>
                            <div class="row text-center pt-2">
                                <div class="col switch-icon w-100" data-bs-toggle="switch-icon">
                                    <div class="" data-bs-toggle="collapse" data-bs-target="#faq-2-1-@post.Id" >

                                        <div class="switch-icon-a">
                                            <i class="ti ti-arrow-down" style="font-size:24px"></i>
                                        </div>
                                        <div class="switch-icon-b">
                                            <i class="ti ti-arrow-up" style="font-size:24px"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="hr-text"><strong>Long Description</strong></div>
                        <div id="faq-2-1-@post.Id" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-2">
                            <div class="accordion-body ps-3 ">
                                <div>
                                    <p class="text-capitalize fs-3 text-break">@post.LongDescription</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <div class="row">

                        <div class="col-auto me-auto pt-2">

                            <button class="switch-icon likeBtn me-2 @(post.MediaPostsLikes.Any(x => x.UserId == currentUserId) ? "active" : "")" data-mpid="@post.Id">
                                <span class="switch-icon-a">
                                    <i class="ti ti-heart" style="font-size:24px"></i>
                                </span>
                                <span class="switch-icon-b text-red">
                                    <i class="ti ti-heart-filled" style="font-size:24px"></i>
                                </span>
                            </button>
                            <span class="count-post-like" data-mpid="@post.Id">@post.CountPostLike</span> <span>Likes</span>
                        </div>
                        <div class="col-auto me-auto pt-2" data-bs-toggle="modal" data-bs-target="#commentsModal" data-id="@post.Id" data-postimage="@post.Image">
                            <button class="switch-icon me-2">
                                <i class="ti ti-messages " style="font-size:24px"></i>

                            </button>

                            <span data-mpcommentid="@post.Id">@post.CountMediaPostComments</span> <span>Comments</span>


                        </div>
                        <div class="col">
                            <input type="text" class="form-control" data-commentinput="@post.Id" placeholder="Add New Comment" />
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary commentBtn" data-id="@post.Id">Comment</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


