@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "My Account";
    Layout = "~/Areas/User/Views/Shared/_SettingsLayout.cshtml";
    var user = await _userManager.GetUserAsync(User);
}


<div class="card-body">
    <h2 class="mb-4">My Account</h2>
    <h3 class="card-title">Profile Details</h3>
    <div class="row align-items-center">
        <div class="col-auto">
            <img class="avatar avatar-xl" src="@user.ProfilePicture" />
        </div>
        <div class="col-auto">
            <a href="#" class="btn">
                Change avatar
            </a>
        </div>
        <div class="col-auto">
            <a href="#" class="btn btn-ghost-danger">
                Delete avatar
            </a>
        </div>
    </div>
    <div class="row row-cards">
        <div class="card-body">
            <h3 class="card-title">Edit Profile</h3>
            <div class="row row-cards">
                <div class="col-sm-6 col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" placeholder="Username" disabled value="@user.UserName">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <div>
                            <div class="row g-2">
                                <div class="col-auto">
                                    <input type="text" class="form-control w-auto" value="@user.Email">
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn">
                                        Change
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" value="@user.FirstName">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Full Name" value="@user.LastName">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <input type="text" class="form-control" placeholder="Phone Number" value="@user.PhoneNumber">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <input type="text" class="form-control" placeholder="Gender" value="@user.Gender">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="mb-3 mb-0">
                        <label class="form-label">About Me</label>
                        <textarea rows="5" class="form-control" placeholder="Here can be your description" value="Mike">@user.Bio</textarea>
                    </div>
                </div>

                <h3 class="card-title mt-4">Password</h3>
                <p class="card-subtitle">You can set a permanent password if you don't want to use temporary login codes.</p>
                <div>
                    <a href="#" class="btn">
                        Set new password
                    </a>
                </div>
            </div>
            <div class="card-footer bg-transparent mt-auto">
                <div class="btn-list justify-content-end">
                    <a href="#" class="btn">
                        Cancel
                    </a>
                    <a href="#" class="btn btn-primary">
                        Submit
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

