@model List<AreaBox_V0._1.Areas.User.Models.UMediaPostDto.send.UMediaPostOutputDto>

@{
    ViewData["Title"] = "My Media Post";
    Layout = "~/Areas/User/Views/Shared/_SettingsLayout.cshtml";
}


<div class="card-body">
    <h1>My Media Post</h1>
    <div class="row row-cards">
        @if (Model.Any())
        {
            @foreach (var post in Model)
            {
                <div class="col-sm-6 col-lg-4">
                    <div class="card card-sm">
                        <div class="card-header">
                            <div class="card-actions">
                                <div class="dropdown">
                                    <a class="btn-action dropdown-toggle" data-bs-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                            <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                            <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#reportPostModal" data-id="">Edit The Post</a>
                                        <a class="dropdown-item link-danger" data-bs-toggle="modal" data-bs-target="#deleteMyMediaPost" style="cursor: pointer;">Delete Post</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#myMediaPost" class="d-block">
                            <img src="@post.Image" class="card-img-top" width="100" height="250">
                        </a>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img class="avatar me-3 rounded" src="@post.UserProfilePicture" />
                                <div>
                                    <div>@post.UserName</div>
                                    <div class="text-secondary">@post.Date</div>
                                </div>
                                <div class="ms-auto">
                                    <a class="text-secondary" data-bs-toggle="modal" data-bs-target="#myMediaPost">
                                        <i class="ti ti-message" style="font-size:15px"></i>
                                        @post.CountMediaPostComments
                                    </a>
                                    <a class="ms-3 text-secondary">
                                        <i class="ti ti-heart" style="font-size:15px"></i>
                                        @post.CountPostLike
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div>you dont have any post yet!</div>
        }

    </div>
</div>


<div class="modal" id="myMediaPost" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">My Media Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <!-- Left side for Image -->
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="" id="mediaPostCommentImage" alt="Post Image" class="img-fluid">
                    </div>

                    <!-- Right side for My Post -->
                    <div class="col-md-6">
                        <div class="page-body">
                            <div class="container-xl">
                                <div class="d-flex align-items-center  mb-3">
                                    <span class="avatar" style="background-image: url(...)"></span>
                                    <div class="ms-2">
                                        <a href="#" class="text-body">Maryjo Lebarree</a>
                                        <div class="text-secondary">3 days ago</div>
                                    </div>
                                </div>
                                <h3 class="card-title"><a href="#">How do you know she is a witch?</a></h3>
                                <div class="text-secondary mb-2">Are you suggesting that coconuts migrate? No, no, no! Yes, yes. A bit. But she's got a wart. You ...</div>
                                <div class="card">
                                    <div class="card-body" style="height: 60vh; overflow-y: auto;">
                                        <div class="chat">
                                            <div id="commentsContainer">
                                                <!-- My Post will be appended here -->
                                            </div>
                                            <div id="commentPager">
                                                <button class="btn btn-primary mt-5" id="loadMoreComments">Load More</button>
                                            </div>
                                            <div id="loading-indicator2" class="my-5" style="display: none;">
                                                <div class="spinner-border text-primary"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <input type="text" class="form-control mb-2" id="commentContentInput" placeholder="Add a comment...">
                                        <button class="btn btn-primary" id="addCommentButton">Add Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-blur fade" id="deleteMyMediaPost" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z" /><path d="M12 9v4" /><path d="M12 17h.01" /></svg>
                <h3>Are you sure?</h3>
                <div class="text-secondary">Do you really want to remove Media Post? What you've done cannot be undone.</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="btn w-100" data-bs-dismiss="modal">
                                Cancel
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal">
                                Delete Post
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>